<!DOCTYPE html>
<html lang="en">
<head>
  <title>NEWPASSWORD</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <style>
        body{
        background-image:url('https://images.unsplash.com/photo-1571434976902-a6e3e1eb0d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MzB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
        background-size:cover;
        /* background-position:center; */
    }
  </style>

</head>
<body><center><br><br><br>
     <section>

        <div class="form-box">
            <div class="form-value">
                <form method="POST">
                    
                    <h2>Reset Password</h2><br>
                    <div class="inputbox">
                        <i class='bx bx-lock-alt'></i>
                        <label for="">New Password</label>
                        <input type="New password" name="npassword" style="width:130px;height:30px;" required>
                        
                    </div><br>
                    <div class="inputbox">
                        <i class='bx bx-lock-alt'></i>
                        <label for="">Confirm Password</label>
                        <input type="Confrim password" name="cpassword"style="width:130px;height:30px;" required>
                       
                    </div>
                   <br>
                    <div class="button">
                        <button class="btn btn-outline-dark">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div></center>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>