<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .exist{
            color: rgb(103, 146, 185);
        }
        body{
            background-color: rgb(212, 206, 210);
        }
    </style>
    
</head>
<body><center><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="exist">
    <h1>Admin already exists
        ~ Only One admin allowed 
     <br>   
   <br> </h1><button class="btn btn-outline-danger"><a href="{{url_for('home')}}">back</a></button>
</div></center>
        

</body>
</html>