<html>
    <head>
        <style>
         .text{
            color: lightslategray;
         }
         body{
            background-color: rgba(143, 193, 183, 0.836);
         }
        </style>
        
    </head>
    <body><center><br><br><br><br><br><br><br><br><br>
        <h1 class="text">Update failed:Updated copies less than original added copies</h1>
        <h2 class="text">retrieve the books from rental and under replacement category and try again</h2>
        <a href="{{url_for('adminlogin')}}">back</a></center>
    </body>
</html>